<div class="calendar" [class.single]="config.dateRange.to - config.dateRange.from === 0">

  <fa-icon [icon]="isWeekExpanded || isMonthExpanded ? iconLeft : iconRight" class="btn btn-week" (click)="toggleWeek()"></fa-icon>
  <fa-icon [icon]="isMonthExpanded ? iconUp : iconDown" class="btn btn-month" (click)="toggleMonth()"></fa-icon>

  <ng-container *ngFor="let day of calendar.days">
    <app-meal-planner-cell
      *ngIf="day.date.getDate() >= config.dateRange.from && day.date.getDate() <= config.dateRange.to"
      [config]="config"
      [name]="name"
      [events]="events"
      [date]="day.date"
    ></app-meal-planner-cell>
  </ng-container>
</div>