.calendar {
  display: flex;
  flex-wrap: wrap;
}

.calendar > * {
  padding: 0.3em;
  flex-basis: calc(100%/7);
  flex-grow: 1;
  min-width: 200px;
}

@media(min-width:992px) {
  .calendar > * {
    flex-grow: unset;
    min-width: auto;
  }
}

.btn {
  background-color: #777;
  border: 1px solid #aaa;
  padding: 0.5em 1em;
  position: fixed;
  color: #fff;
}

.btn-week {
  right: 1em;
  top: 50%;
}

.btn-month {
  bottom: 1em;
  left: 50%;
}