
<button class="btn" (click)="toggleWeek()">{{isWeekExpanded || isMonthExpanded ? 'compress' : 'expand'}} week</button>
<button class="btn" (click)="toggleMonth()">{{isMonthExpanded ? 'compress' : 'expand'}} month</button>

<div class="calendar">
  <ng-container *ngFor="let day of calendar.days">
    <app-meal-planner-cell
      *ngIf="day.date.getDate() >= config.dateRange.from && day.date.getDate() <= config.dateRange.to"
      [config]="config"
      [date]="day.date"
    ></app-meal-planner-cell>
  </ng-container>
</div>