:host {
  display: block;
  text-align: center;
}

.calendar {
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  text-align: initial;
}

app-meal-planner-cell {
  padding: 0.2em;
  flex-basis: calc(100%/7);
  flex-grow: 1;
  min-width: 170px;
}

@media(min-width:992px) {
  app-meal-planner-cell {
    flex-grow: unset;
  }
}

.btn {
  line-height: 1em;
  font-size: 2em;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.7;
  cursor: pointer;
}

.btn:hover {
  opacity: 1;
}

.btn-week {
  right: 0.1em;
  top: 0.1em;
}

.btn-month {
  bottom: -1.1em;
  left: calc(50% - 0.5em);
}

.single app-meal-planner-cell {
  min-width: 200px;
}

.single .btn-week {
  right: -1.1em;
  top: calc(50% - 0.5em);
}