:host {
  position: relative;
  display: inline-block;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
}

.calendar > * {
  padding: 0.1em;
  flex-basis: calc(100%/7);
  flex-grow: 1;
  min-width: 170px;
}

@media(min-width:992px) {
  .calendar > * {
    flex-grow: unset;
  }
}

.btn {
  line-height: 1em;
  font-size: 2em;
  position: absolute;
  background-color: #fff;
  border-radius: 100%;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1;
}

.btn-week {
  right: 0;
  top: 3em;
}

.btn-month {
  bottom: 1em;
  left: 50%;
}