<section class="calendar-cell">
  <header>
    <h3>{{config.name}}</h3>
    <p class="calendar-date-info">
      <span *ngIf="config.dateInfoMode === DATE_INFO_MODE.date || config.dateInfoMode === DATE_INFO_MODE.both">{{date | date: 'mediumDate'}}</span>
      <span *ngIf="config.dateInfoMode === DATE_INFO_MODE.day || config.dateInfoMode === DATE_INFO_MODE.both">{{date | date: 'E'}}</span>
    </p>
  </header>
  <div class="content">
    <div *ngIf="config.breakfast">
      <p *ngFor="let meal of breakfastMeals" >{{meal.name}}</p>
    </div>
    <div *ngIf="config.lunch">
      <p *ngFor="let meal of lunchMeals" >{{meal.name}}</p>
    </div>
    <div *ngIf="config.dinner">
      <p *ngFor="let meal of dinnerMeals" >{{meal.name}}</p>
    </div>
    <p *ngIf="!breakfastMeals && !lunchMeals && !dinnerMeals">No Meals</p>
  </div>
</section>