/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: Cambria, serif;
}

button, input {
  font-family: inherit;
  outline: none;
  background: inherit;
}